<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateCandidat('candidat')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchCandidat.reference">
                                    <label for="1">Reference</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchCandidat.nom">
                                    <label for="2">Nom</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchCandidat.adresse">
                                    <label for="3">Adresse</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="4"
                                           type="text"  [(ngModel)]="searchCandidat.cin">
                                    <label for="4">Cin</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="5"
                                           type="text"  [(ngModel)]="searchCandidat.numTele">
                                    <label for="5">Num tele</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="6"
                                           type="text"  [(ngModel)]="searchCandidat.email">
                                    <label for="6">Email</label>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="candidats" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['reference', 'nom', 'adresse', 'cin', 'numTele', 'email']" [(selection)]="selectedCandidat"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Les éléments de {first} à {last} sur {totalRecords}"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des candidats</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Chercher..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="reference">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Reference</span>
                                        <p-sortIcon field="reference"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="nom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nom</span>
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="adresse">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Adresse</span>
                                        <p-sortIcon field="adresse"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="cin">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Cin</span>
                                        <p-sortIcon field="cin"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="numTele">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Num tele</span>
                                        <p-sortIcon field="numTele"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="email">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Email</span>
                                        <p-sortIcon field="email"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-candidat>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="candidat"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{candidat.reference}}</td>
                            

                            
                                 <td>{{candidat.nom}}</td>
                            

                            
                                 <td>{{candidat.adresse}}</td>
                            

                            
                                 <td>{{candidat.cin}}</td>
                            

                            
                                 <td>{{candidat.numTele}}</td>
                            

                            
                                 <td>{{candidat.email}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editCandidat(candidat)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewCandidat(candidat)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteCandidat(candidat)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateCandidat(candidat)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{candidats ? candidats.length == 1 ? 'y a' : 'y a' : 'y a' }} {{candidats ? candidats.length : 0 }} {{candidats ? candidats.length == 1 ? 'candidat' : 'candidats' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-candidat-create-chercheur></app-candidat-create-chercheur>
        <app-candidat-edit-chercheur></app-candidat-edit-chercheur>
        <app-candidat-view-chercheur></app-candidat-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
