<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                            (click)="openCreateAvisVisiteur('avisVisiteur')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help"
                                       [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text" [(ngModel)]="searchAvisVisiteur.reference">
                                    <label for="1">Reference</label>
                                </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text" [(ngModel)]="searchAvisVisiteur.emailVisiteur">
                                    <label for="2">Email visiteur</label>
                                </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text" [(ngModel)]="searchAvisVisiteur.objet">
                                    <label for="3">Objet</label>
                                </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchAvisVisiteur.rattingMin"
                                                             id="5-1"></p-inputNumber>
                                              <label for="5-1">Ratting Min</label>
                                       </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchAvisVisiteur.rattingMax"
                                                             id="5-2"></p-inputNumber>
                                             <label for="5-2">Ratting Max</label>
                                       </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="typeAviss" [(ngModel)]="searchAvisVisiteur.typeAvisVo"
                                            id="6"
                                            [filter]="true" [showClear]="true" placeholder="Type avis"
                                            optionLabel="libelle">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="avisVisiteurs" [columns]="cols" [rows]="4" [paginator]="true"
                     [globalFilterFields]="['reference', 'emailVisiteur', 'objet', 'ratting', 'typeAvisVolibelle']"
                     [(selection)]="selectedAvisVisiteur"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                     currentPageReportTemplate="Les éléments de {first} à {last} sur {totalRecords}"
                     [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des avis visiteurs</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Chercher..."
                                   (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>


                        <th pSortableColumn="reference">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Reference</span>
                                <p-sortIcon field="reference"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="emailVisiteur">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Email visiteur</span>
                                <p-sortIcon field="emailVisiteur"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="objet">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Objet</span>
                                <p-sortIcon field="objet"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="ratting">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Ratting</span>
                                <p-sortIcon field="ratting"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="typeAvis">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Type avis</span>
                                <p-sortIcon field="typeAvis"></p-sortIcon>
                            </div>
                        </th>


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-avisVisiteur>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="avisVisiteur"></p-tableCheckbox>
                        </td>

                        <td>{{avisVisiteur.reference}}</td>


                        <td>{{avisVisiteur.emailVisiteur}}</td>


                        <td>{{avisVisiteur.objet}}</td>


                        <td>{{avisVisiteur.ratting}}</td>


                        <td>{{avisVisiteur.typeAvisVo?.libelle}}</td>


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editAvisVisiteur(avisVisiteur)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewAvisVisiteur(avisVisiteur)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteAvisVisiteur(avisVisiteur)"></button>

                            <button pButton pRipple icon="pi pi-copy"
                                    class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateAvisVisiteur(avisVisiteur)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{avisVisiteurs ? avisVisiteurs.length == 1 ? 'y a' : 'y a' : 'y a' }} {{avisVisiteurs ? avisVisiteurs.length : 0 }} {{avisVisiteurs ? avisVisiteurs.length == 1 ? 'avis visiteur' : 'avis visiteurs' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-avis-visiteur-create-chercheur></app-avis-visiteur-create-chercheur>
        <app-avis-visiteur-edit-chercheur></app-avis-visiteur-edit-chercheur>
        <app-avis-visiteur-view-chercheur></app-avis-visiteur-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
