<p-dialog [(visible)]="viewVehiculeDialog" [style]="{width: '70vw'}"
          header="Vehicule" [modal]="true"
          styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Vehicule">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="1">Matricule</label>
                        <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                               placeholder="Matricule" [(ngModel)]="selectedVehicule.matricule"
                               id="1" [(ngModel)]="selectedVehicule.matricule"
                               autofocus>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Marque</label>
                        <p-dropdown [options]="marques" [(ngModel)]="selectedVehicule.marqueVo"
                                    id="2" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" [disabled]="true"
                                    optionLabel="libelle"
                                    placeholder="Marque">
                        </p-dropdown>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="3">Type vehicule</label>
                        <p-dropdown [options]="typeVehicules" [(ngModel)]="selectedVehicule.typeVehiculeVo"
                                    id="3" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" [disabled]="true"
                                    optionLabel="reference"
                                    placeholder="Type vehicule">
                        </p-dropdown>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="4">Date achat vehicule</label>
                        <p-calendar id="4" [disabled]="true"
                                    placeholder="Date achat vehicule" [(ngModel)]="selectedVehicule.dateAchatVehicule"
                                    dateFormat="{{dateFormat}}"></p-calendar>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="5">Image url</label>
                        <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                               placeholder="Image url" [(ngModel)]="selectedVehicule.imageUrl"
                               id="5" [(ngModel)]="selectedVehicule.imageUrl"
                               autofocus>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="6">Ecole</label>
                        <p-dropdown [options]="ecoles" [(ngModel)]="selectedVehicule.ecoleVo"
                                    id="6" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" [disabled]="true"
                                    optionLabel="reference"
                                    placeholder="Ecole">
                        </p-dropdown>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

    <app-marque-create-chercheur></app-marque-create-chercheur>
    <app-type-vehicule-create-chercheur></app-type-vehicule-create-chercheur>
    <app-ecole-create-chercheur></app-ecole-create-chercheur>


</p-dialog>



