<p-dialog [(visible)]="viewPlanningItemDialog" [style]="{width: '70vw'}"
          header="Planning item" [modal]="true"
          styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Planning item">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="1">Jour</label>
                        <p-dropdown [options]="jours" [(ngModel)]="selectedPlanningItem.jourVo"
                                    id="1" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" [disabled]="true"
                                    optionLabel="libelle"
                                    placeholder="Jour">
                        </p-dropdown>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Date ouverture</label>
                        <p-calendar id="2" [disabled]="true"
                                    placeholder="Date ouverture" [(ngModel)]="selectedPlanningItem.dateOuverture"
                                    dateFormat="{{dateFormat}}"></p-calendar>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="3">Date fermeture</label>
                        <p-calendar id="3" [disabled]="true"
                                    placeholder="Date fermeture" [(ngModel)]="selectedPlanningItem.dateFermeture"
                                    dateFormat="{{dateFormat}}"></p-calendar>
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

    <app-jour-create-admin></app-jour-create-admin>


</p-dialog>



