<app-header></app-header>
<form class="zone">
    <div class="form-group" >
    <label for="exampleFormControlInput1">Email address</label><br><br>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div><br><br>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Ajoutez votre avis</label><br><br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div><br><br>
    <button class="btn btn-primary" type="submit">Ajouter</button>
</form>